logs/trades.log
logs/2025-10/2025-10-14/cosmic-log-2025-10-14_23-56-00-1.log
logs/expeditions.log
logs/gachapon.log
logs/trades.log
logs/cosmic-log.log
logs/cosmic-log.log
logs/expeditions.log
logs/gachapon.log
logs/trades.log
logs/
